<p>About サービス概要</p>

<div class="text-center">

  <p class="lead">unit</p>

  <p>写真作品を発信したい写真家<br>
  写真作品だけを眺めていたいファンが集まる<br>
  写真好きのためのSNS</p>

  <p>unitには「複数人が集まって共に活動する集団」という意味がある一方<br>
  「分割ができない単一の存在」という意味もあります</p>

  <p>かけがえのない存在であるUnique Artist(個性的な写真家)の活動を<br>
  支えたいという願いが名前に込められています</p>

</div>