<h2>About サービス概要</h2>
<p>unit</p>
<p>写真作品を発信したい写真家</br>
写真作品だけを眺めていたいファンが集まる</br>
写真好きのためのSNS</br>
unitには「複数人が集まって共に活動する集団」という意味がある一方</br>
「分割ができない単一の存在」という意味もあります</br>
かけがえのない存在であるUnique Artist(個性的な写真家)の活動を</br>
支えたいという願いが名前に込められています</p>