<p>My Album　マイアルバム</p>

<div class="row d-flex justify-content-center">
  <div class="row col-lg-11 d-flex justify-content-center mt-4">
    
    <% if @arts.length == 0 %>
      <p><%= link_to 'アーティスト', artists_path %>をフォローしてMy Albumを作りましょう！</p>
    <% else %>
      <% @arts.each do |art| %>
        <div class= "mr-3 mb-4">
          <%= link_to art_path(art.id) do %>
            <%= image_tag art.image_card %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center pt-2">
  <%= paginate @arts %>
</div>