@use '~bootstrap/scss/bootstrap';

@import '~toastr/toastr';

// ------------------------------

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #343a40;
  background-color: #f8f9fa;
}

.white-text {
  color: #fff;
}

// header ------------------------------

.line-top{
  border-top: 1px solid;
  border-top-color: #6c757d;
}

.line-bottom{
  border-bottom: 1px solid;
  border-bottom-color: #6c757d;
}

.very-small {
  font-size: 10px;
}

.nav-line-height {
  line-height: 18px;
}

// aタグ ------------------------------

a {
  color: #343a40;
  text-decoration: underline;
}

a:hover {
  color: #6c757d;
}

// index ------------------------------

.link-card {
  background-color: #ced4da;
}
.link-card:hover {
  color: #ced4da;
  background-color: #6c757d;
}

// ファイル選択ボタン ------------------------------

.image_form{
  display: none;
}

// help アコーディオン ------------------------------

.accordion-003 {
    max-width: auto;
    border-bottom: 1px solid #343a40;
}

.accordion-003 summary {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.5em 2em;
    color: #343a40;
    font-weight: 600;
    cursor: pointer;
}

.accordion-003 summary::-webkit-details-marker {
    display: none;
}

.accordion-003 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #343a40b3;
    border-right: 3px solid #343a40b3;
    content: '';
    transition: transform .3s;
}

.accordion-003[open] summary::after {
    transform: rotate(225deg);
}

.accordion-003 p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 2em 1.5em;
    color: #343a40;
    transition: transform .5s, opacity .5s;
}

.accordion-003[open] p {
    transform: none;
    opacity: 1;
}

// カラー ------------------------------

// scss-docs-start gray-color-variables
// $white:    #fff !default;
// $gray-100: #f8f9fa !default; light
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #6c757d !default; secondary
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default; dark
// $black:    #000 !default

.white {
  color: #fff
}

.gray-100{
  color: #f8f9fa;
}

.gray-200{
  color: #e9ecef;
}

.gray-300{
  color: #dee2e6;
}

.gray-400{
  color: #ced4da;
}

.gray-400-back{
  background-color: #ced4da;
}

.gray-500{
  color: #adb5bd;
}

.gray-600{
  color: #6c757d;
}

.gray-700{
  color: #495057;
}

.gray-800{
  color: #343a40;
}

.gray-800-back{
  background-color: #343a40;
}

.gray-900{
  color: #212529;
}

.black {
  color: #fff
}