<p>Help ヘルプ</p>

<div class="row justify-content-lg-center">
  <div class="col-lg-5 text-center mt-3">
    <div class="white-text gray-800-back py-3">
    <span>よくある質問</span>
    </div>
    <div class="gray-400-back">
      <details class="accordion-003">
        <summary>会員種別とは何ですか？</summary>
        <div class="pb-2">
          <span>unitでは利用目的に応じた会員種別を設けております</span>
        </div>
        <div class="pb-2">
          <span>ファン<br>
          写真作品の閲覧のみをご希望の方向けの通常機能を備えた種別です<br>
          <small class="gray-600">フォロー　My Album　コメント投稿　いいね</small></span>
        </div>
        <div class="pb-2">
          <span>アーティスト<br>
          写真家・写真家を目指している方向けの全機能を備えた種別です<br>
          <small class="gray-600">作品投稿　マイページURL記載　アーティスト一覧への参加<br>
          フォロー&フォロワー　My Album　コメント投稿　いいね</small></span>
        </div>
      </details>
      <details class="accordion-003">
        <summary>ファンをフォローできません</summary>
        <p>ファンに対してのフォロー機能はございません<br>
        ファンはフォローのみすることが可能です<br>
        アーティスト一覧に並ぶユーザーもアーティストの方のみになります
        </p>
      </details>
      <details class="accordion-003">
        <summary>パスワードを忘れてしまいました</summary>
        <p>問い合わせフォームにて以下の内容を入力の上ご連絡ください<br>
        <small class="gray-600">ニックネーム　お名前　メールアドレス　電話番号</small></span>
        </p>
      </details>
      <details class="accordion-003">
        <summary>アーティストに仕事を委託したい</summary>
        <p>アーティストが許可をしている場合のみコンタクトをお願いいたします<br>
        その他詳しい条件などはアーティストによって異なりますので<br>
        必ずアーティストのページやURL先のサイトなどをご確認ください</p>
      </details>
      <details class="accordion-003">
        <summary>作品の著作権について</summary>
        <p>作品の著作権は投稿者に帰属します<br>
        作品の扱いについてはアーティストによって異なります<br>
        使用許可の記載がある場合を除いて無断使用はお控えください</p>
      </details>
    </div>

    <div class="mt-4">
      <%= link_to 'お問い合わせ', helps_inquiry_path %>
    </div>
  </div>
</div>